.root {
  font-family: sans-serif;
  padding: 4em 1em;
  position: relative;
}

.recorder {
  border-radius: 25px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
